<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <% if (language==='en' ) { %>
          <div>
            <h2>About Our Research</h2>
            <p>Welcome to our research project exploring the fascinating world of Lev Vygotsky's educational theory. As
              we
              embark on this academic journey, we invite you to join us in uncovering the profound insights and
              implications
              of Vygotsky's groundbreaking work.</p>
          </div>
          <div>
            <h2>Our Mission</h2>
            <p>At the heart of our research lies a deep commitment to understanding and expanding upon Vygotsky's
              contributions to the field of education. Vygotsky's socio-cultural theory has had a profound impact on how
              we
              view human development and learning. We believe that by delving deeper into his work, we can shed light on
              the
              transformative potential of education and its role in shaping individuals and societies.</p>
          </div>
          <div>
            <h2>Why Vygotsky?</h2>
            <p>Lev Vygotsky's theories on the zone of proximal development, scaffolding, and the role of social
              interaction
              in learning have left an indelible mark on educational psychology and pedagogy. Our research aims to not
              only
              revisit and appreciate the brilliance of Vygotsky's ideas but also to explore how they continue to
              influence
              modern education and offer innovative approaches to teaching and learning.</p>
          </div>
          <div>
            <h2>Our Approach</h2>
            <p>Through rigorous academic inquiry, empirical studies, and interdisciplinary collaboration, our research
              team
              seeks to bridge the gap between theory and practice. We aim to provide educators, researchers, and
              learners
              with valuable insights and practical tools inspired by Vygotsky's work.</p>
          </div>
          <div>
            <h2>Join Us on the Journey</h2>
            <p>We invite you to navigate through our website, where you will find resources, articles, and updates
              related
              to our ongoing research. Together, let's explore the enduring relevance of Vygotsky's theory in today's
              dynamic educational landscape and discover new horizons in the realm of learning and development.

              Thank you for joining us on this intellectual adventure. Together, we can uncover the transformative power
              of
              education, inspired by the visionary mind of Lev Vygotsky.</p>
          </div>
      </div>
      <% } else if (language==='de' ) { %>
        <div>
          <h2>Über Unsere Forschung</h2>
          <p>Willkommen bei unserem Forschungsprojekt, das die faszinierende Welt der Bildungstheorie von Lev Vygotsky
            erforscht. Auf dieser akademischen Reise laden wir Sie ein, sich uns anzuschließen, um die tiefgreifenden
            Erkenntnisse und Auswirkungen von Vygotskys bahnbrechender Arbeit zu entdecken.</p>
        </div>
        <div>
          <h2>Unsere Mission</h2>
          <p>Im Mittelpunkt unserer Forschung steht das tiefe Engagement, Vygotskys Beitrag zum Bereich der Bildung zu
            verstehen und auszubauen. Vygotskys soziokulturelle Theorie hat einen tiefgreifenden Einfluss auf unsere
            Sichtweise von menschlicher Entwicklung und Lernen gehabt. Wir glauben, dass wir, indem wir uns intensiver
            mit
            seiner Arbeit beschäftigen, Licht auf das transformative Potenzial der Bildung und ihre Rolle bei der
            Formung
            von Individuen und Gesellschaften werfen können.</p>
        </div>
        <div>
          <h2>Warum Vygotsky?</h2>
          <p>Lev Vygotskys Theorien zur Zone der nächsten Entwicklung, zur Unterstützung und zur Rolle sozialer
            Interaktion im Lernprozess haben einen unauslöschlichen Eindruck in der Bildungspsychologie und Pädagogik
            hinterlassen. Unsere Forschung zielt darauf ab, nicht nur die Brillanz von Vygotskys Ideen neu zu beleuchten
            und zu schätzen, sondern auch zu erforschen, wie sie die moderne Bildung weiterhin beeinflussen und
            innovative
            Ansätze für das Lehren und Lernen bieten.</p>
        </div>
        <div>
          <h2>Unsere Herangehensweise</h2>
          <p>Durch strenge akademische Forschung, empirische Studien und interdisziplinäre Zusammenarbeit strebt unser
            Forschungsteam danach, die Kluft zwischen Theorie und Praxis zu überbrücken. Wir möchten Pädagogen,
            Forschern und Lernenden wertvolle Erkenntnisse und praktische Werkzeuge auf der Grundlage von Vygotskys
            Arbeit
            bieten.</p>
        </div>
        <div>
          <h2>Begleiten Sie uns auf dieser Reise</h2>
          <p>Wir laden Sie ein, durch unsere Website zu navigieren, auf der Sie Ressourcen, Artikel und Updates im
            Zusammenhang mit unserer laufenden Forschung finden werden. Lassen Sie uns gemeinsam die anhaltende Relevanz
            von Vygotskys Theorie in der heutigen dynamischen Bildungslandschaft erkunden und neue Horizonte in der Welt
            des Lernens und der Entwicklung entdecken.

            Vielen Dank, dass Sie uns auf dieses intellektuelle Abenteuer begleiten. Zusammen können wir die
            transformative Kraft der Bildung entdecken, inspiriert von Lev Vygotskys visionärem Geist.</p>
        </div>
        </div>

        <% } %>


          <%- include("./partials/footer.ejs") %>
  </body>

</html>