<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about-content">
        <% if (language==='en' ) { %>
          <section id="about-section" class="about-section">
            <h2>About My Research</h2>

            <div id="research-intro">
              <p>Welcome to my research project, where I explore the exciting synergy between Lev Vygotsky's educational
                theory and Artificial Intelligence.</p>

              <p>I'm leveraging the power of OpenAI's interface to create an innovative studying tool—an AI chatbot.
                This chatbot serves as a virtual peer, offering valuable insights and support to enhance the learning
                experience.</p>

              <p>My research delves into the practical application of Vygotsky's ideas in modern education, harnessing
                AI to bridge theory and practice.</p>
            </div>

          </section>
          <% } else if (language==='de' ) { %>
            <section id="about-section" class="about-section">
              <h2>Über meine Forschung</h2>
              <div id="research-intro">
                <p>Willkommen zu meinem Forschungsprojekt, in dem ich die spannende Kombination von Lev Vygotskys
                  Bildungstheorie und künstlicher Intelligenz erforsche.</p>

                <p>Ich nutze die Leistungsstarke OpenAI-Schnittstelle, um ein innovatives Lernwerkzeug zu
                  entwickeln - einen KI-Chatbot. Dieser Chatbot fungiert als virtueller Lernpartner und bietet wertvolle
                  Einblicke und Unterstützung zur Verbesserung des Lernerlebnisses.</p>

                <p>Meine Forschung taucht tief in die praktische Anwendung von Vygotskys Ideen im modernen
                  Bildungsbereich ein und nutzt KI, um Theorie und Praxis zu verbinden.</p>
              </div>
            </section>
            <% } %>
      </div>
      <div class="about-footer">
        <%- include("./partials/footer.ejs") %>
      </div>
  </body>

</html>
